{% extends "index.html" %}

{% block content %}
<h1>{{ collection.filename }}</h1>

<table class="table">
    <thead>
    <tr>
        {% for header in headers %}
            <th><a href="/value_count/{{ collection.pk }}/?fields={{ header }}">{{ header }}</a></th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            {% for col in row %}
                <td>{{ col }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
    <a href="/details/{{ collection.pk }}/?page={{ next_page }}" class="btn btn-primary">Load more...</a>
{% endblock %}
